{% spaceless %}
<div class="row">
    <div class="col-md-4">
        {{ cms_block('footer_first_col') }}
    </div>
    <div class="col-md-4">
        {{ cms_menu('footer', {'style': 'unstyled'}) }}
    </div>
    <div class="col-md-4">
        {{ social_share_buttons({'type': 'global', 'attr': {'class': 'social-buttons social-buttons-alt'}}) }}
    </div>
</div>
{% endspaceless %}