{% extends 'EkynaAdminBundle:Layout:content.html.twig' %}

{% block content %}
<div class="page-header">
	<div class="row">
	    <div class="col-md-12 col-lg-8">
	    {% block title %}{% endblock title %}
	    </div>
	    <div class="col-md-12 col-lg-4 actions">
	    {% block actions %}{% endblock actions %}
	    </div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
    {% block main %}{% endblock main %}
    </div>
</div>
{% endblock content %}