#media-browser {
    position: relative;
    margin: 0 auto 0 auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
}

/* ---------------------- CONTROLS ---------------------- */
.media-browser-controls {
    background: #eee;
    min-height: 46px;
    padding-left: 15px;
}

.media-browser-controls-group {
    float: left;
    margin: 8px 15px 8px 0;
}

.media-browser-controls-group:last-child {
    margin-right: 0;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: webkit-spin .7s infinite linear;
}

@-webkit-keyframes webkit-spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.media-browser-side {
    border-right: 1px solid #ddd;
    float: left;
    height: 420px;
    min-width: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

.media-browser-main {
    height: 420px;
    margin-left: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ---------------------- TREE ---------------------- */
.media-browser-tree {
    overflow: hidden;
}

.media-browser-tree ul.fancytree-container {
    overflow: hidden;
    border: none !important;
}

/* ---------------------- CONTENT ---------------------- */
.media-browser-content {
    overflow: hidden;
    padding: 15px 0 0 15px;
}

.media-browser-content .media-thumb {
    float: left;
    margin: 0 15px 15px 0;
}
