{% extends 'EkynaDemoBundle:Catalog:layout.html.twig' %}

{% block content_left %}
    <div class="row">
        <div class="col-sm-9">
            <h1>{{ category.name }}</h1>
            <div>
                {{ category.html|raw }}
            </div>
        </div>
        <div class="col-sm-3">
            <span class="thumbnail">
            {% if category.media is not sameas(null) %}
            <img alt="{{ category.media.title }}" height="142" src="{{ category.media.path|imagine_filter('product_thumb') }}" width="190" />
            {% else %}
            <img alt="Visuel à venir" height="142" src="http://placehold.it/190x142/f7f7f7/6e829b&text=Visuel+à+venir" width="190" />
            {% endif %}
            </span>
        </div>
    </div>
    {% include 'EkynaDemoBundle:Catalog:_list.html.twig' %}
{% endblock content_left %}