{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
<title>{{ 'ekyna_demo.smartphone.header.list'|trans|raw }}</title>
<list><![CDATA[
{{ ekyna_table_render(smartphones) }}
]]></list>
{% endblock response %}