{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ media.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="/favicon.ico">

    {% block stylesheets %}
    <style>
    html, body {
        background-color: #000000;
        margin: 0;
        padding: 0;
        width: 800px;
        height: 600px;
        overflow: hidden !important;
    }
    </style>
    {#<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">#}
    {% endblock stylesheets %}

    {% include 'EkynaCoreBundle:Ui:ie-fix.html.twig' %}

    {{ require_js(not app.debug) }}
</head>
<body>
{% block body %}{% endblock body %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
{% endspaceless %}