.ekyna-characteristics th,
.ekyna-characteristics td {
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    padding: 3px 6px !important;
}

.ekyna-characteristics td p {
    margin: 8px 0 0 0;
}

.ekyna-characteristics td p:first-child {
    margin: 0;
}