{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
<title>{{ 'ekyna_characteristics.choice.header.new'|trans|raw }}</title>
<form><![CDATA[
    <form action="{{ path('ekyna_characteristics_choice_admin_new', {'name': definition.identifier}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
        {% include "EkynaCharacteristicsBundle:Choices:_form.html.twig" %}
    </form>
]]></form>
{% endblock %}
