{% extends 'EkynaAdminBundle:Layout:content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'ekyna_admin.dashboard'|trans }}</h2>
        </div>
        <div class="col-md-12">

        </div>
    </div>
{% endblock content %}